*,
*:after,
*:before {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 16px;
  user-select: none;
  overscroll-behavior: none;
}
html {
  overflow-x: hidden;
  overflow-y: auto;
}
